/* NProgress Sozlamalari */
#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: #ea7909 !important; /* Qizg'ish rang */
  height: 3px !important;
  position: fixed !important; /* Ekranning yuqori qismida joylashishi uchun */
  top: 0;
  left: 0;
  width: 100% !important;
  z-index: 9999 !important; /* Ekran ustida eng yuqori daraja */
}

#nprogress .peg {
  box-shadow: 0 0 10px #ff5733, 0 0 5px #ff5733 !important;
}

#nprogress .spinner {
  display: none;
}
